.main_container{
    width: 100%;
    position: fixed;
    top: 10%;
}

.container_heading{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 48%;
    font-size: 400%;
}

.FAQcontainer{
    position: fixed;
    top: 30%;
    left: 10%;
    width: 80%;
}

.FAQcontainer h2{
    position: relative;
    left: 0%;
    width: 100%;
    border-bottom: 2px solid;
    border-color: #000;
}

.FAQcontainer h2:hover{
    cursor: pointer;
}


.FAQcontainer p{
    position: relative;
    left: 10%;
    width: 80%;
    display: none;
}